<nav> 
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resume.html">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/cmmeyers63">Github</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Furnace Controller</a></li>
                <li><a class="dropdown-item" href="#">Regular Expression Compiler </a></li>
                <li><a class="dropdown-item" href="#">WebGL Minecraft</a></li>
                <li><a class="dropdown-item" href="#">Spacecat</a></li>
                <!--https://spacecat.coltonmeyers1.repl.co/-->
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Games
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">WebGL Minecraft</a></li>
                <li><a class="dropdown-item" href="/games/space_cat/index.html">Spacecat</a></li>
            </ul>
        </li>
    </ul>
</nav>